*.iml
.project
*/.project
.idea
*/.idea
.vscode
*/.vscode
/target
*/target
/Spring/Spring\ 5\ Beginner\ To\ Guru/_Pet\ Clinic\ App/pet-clinic-web/target/
/Spring/Spring\ 5\ Beginner\ To\ Guru/_Pet\ Clinic\ App/pet-clinic-data/target/

